body {
    background: #04185c;
    margin: 0;
}

main {
    width: 800px;
    margin: 0 auto;
    background: #04185c;
    color: white;
}

.nav-bar {
    width: 800px;
    margin: 0 auto;
}

ul {
    font-family: 'Cinzel', serif;
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    overflow: hidden;
    background-color: #1A659E;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #004E89;
}

h1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #1A659E;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    font-style: oblique;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    text-align: center;
    padding-top: 32px;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

img {
    width: 100%;
}

.button {
    width: 100%;
    background-color: #ffe70f;
    border: none;
    color: black;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 0;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.button:hover {
    background-color: #f7bb07;
    transition: .4s ease;
}

.last {
    margin-bottom: 40px;
}